<html>
<h1 class="text-titleblue">Bryan
	<span class="text-titleorange">Franz</span>
</h1>

<p>Hello! I'm a recent Computer Science BS grad, with a previous BS in Mathematics. Most of my work is in game development, medical research, machine learning (genetic algorithms), and physics simulation.</p>
<p>I like data science and mixing object oriented principles with component-based architectures like in Unity3D. In my spare time, I read mind-bending books, play volleyball, scuba dive, go indoor/outdoor skydiving, and volunteer with kids.</p>

<h3 class="mb-0">Professional skill stack:</h3>
<br />
<table width="100%" style="table-layout: fixed;">
	<tr>
		<td width="34%"><h3 class="centered">Game Development</h3>
			<ul>
				<li>Game development in Unity3D and Blender3D</li>
				<li>HLSL/Cg shader development with DirectX 9 and 11</li>
				<li>Blender3D modeling (with Rigify), UV mapping, rigging, and animation</li>
				<li>3</li>
			</ul>
		</td>
		<td width="33%"><h3 class="centered">Software Engineering</h3>
			<ul>
				<li>C++, C#.NET, Python, JavaScript</li>
				<li>Data analysis and visualization with NumPy, SciPy, Pandas, Matplotlib, Plotly.js, and D3.js</li>
				<li>Experience developing genetic algorithms</li>
				<li>3</li>
			</ul>
		</td>
		<td width="33%"><h3 class="centered">Art and Music</h3>
			<ul>
				<li>17 years composing neoclassical music</li>
				<li>Sound design, audio processing, live sound, and studio recording using Cubase 9</li>
				<li>Working knowledge of texture design with GIMP 2 and Inkscape</li>
				<li>3</li>
			</ul>
		</td>
	</tr>
</table>

<h3 class="mb-0">Teamwork and customer service:</h3>
<br />

<ul>
	<li>Designing and teaching <strong>AFAA group fitness classes</strong> to staff and students</li>
	<li>Assessing and addressing group issues as a <strong>Challenge Course Facilitator</strong></li>
	<li>Teaching participants how to traverse a high ropes course and overseeing them to ensure safety</li>
	<li>Many leadership roles with summer camps and college clubs</li>
</ul>

<p>Enjoy!</p>

</html>