<html>
<h2 class="mb-0">MONA (Multi-Omics Network Analysis)</h2>
<div class="row">
	<div class="col-md-6"><div class="subheading mb-3">Languages: Python, R</div></div>
	<div class="col-md-6"><div class="subheading mb-3">Rocks HPC, Linux, NumPy, SciPy, Bioinformatics, Pandas Data Analysis</div></div>
</div>
<br />

<div class="resume-item d-flex flex-column flex-md-row mb-5">
	<div class="resume-content mr-auto">

		<!--<div class="thumbnail">
		<a href="img/MONA/rShiny2.JPG">
		<img src="img/MONA/rShiny2.JPG" alt="(Image not found)" style="width:100%">
		</a>
		</div>-->

		<br />
		<h3 class="mb-0">Project Description:</h3>
		<p>During my year-long internship at <a href="https://moffitt.org/">Moffitt Cancer Center</a>, I was on a small software development team in the Bioinformatics Core, working on their new research program, MONA. MONA is a data analysis program that finds speculative interactions between genes and metabolites which may not be annotated yet. This gives researchers another tool to identify likely interactions to do further study on. MONA was originally designed for lung cancer research, but its flexible approach lends it toward anything involving genes, metabolites, proteins, and micro RNA.</p>

		<h3 class="mb-0">Main Features:</h3>
		<ul>
		<li>Real-time, interactive force directed graph</li>
		<li>Pathway enrichment for network combinations</li>
		<li>Network output in CSV and XGMML formats</li>
		<li><strong>Unique Features:</strong>
		<ul>
		<li>Network based approach for integrative data analysis</li>
		<li>Uses weighted correlations to find new possible interactions in experiment data</li>
		</ul>
		</li>
		</ul>

		<h3 class="mb-0">My Contributions:</h3>
		<p>I started my work MONA by making test cases for the existing codebase. It was mostly data analysis on various inputs, confirming theories with a bioinformatics statistician at Moffitt, and making appropriate changes to the Python code. Afterwards, I moved on to the R codebase. There was an existing R project, but it was for a much older version of MONA, so I started from scratch. MONA uses an atypical CSV output format so I first made a parser for it.</p>

		<p>For the data visualization, I decided to use the Shiny framework. RShiny is useful for quickly creating interactive web applications that incorporate R functionality. I experimented with several different visualization packages before settling on the <a href="https://cran.r-project.org/web/packages/visNetwork/vignettes/Introduction-to-visNetwork.html">visNetwork</a> package. Since it created graphs that updated in real-time and could be pulled around by the user, it was a natural choice for large-scale data. It's also fun to use! Just look at the gif below:</p>

		<p>While my internship has officially ended in December 2017, I am continuing work on MONA as a developer and contributor to the upcoming paper. I spend most of the time adding features and testing MONA with different experiment datasets.</p>

		<!-- Gallery of sorts -->
		<div class="row">

		<!--<div class="col-md-12">
		<div class="thumbnail">
		<h3 class="mb-0">Figure 1 - Pathway enrichment map</h3>
		<a href="img/MONA/enrich2.PNG">
		<img src="img/MONA/enrich2.PNG" alt="(Image not found)" style="width:65%">
		</a>
		</div>
		</div>-->

		<div class="col-md-6">
		<br />
		<div class="thumbnail">
		<h3 class="mb-0">Figure 1 - Connected node selection</h3>
		<a href="img/MONA/rShiny2.JPG">
		<img src="img/MONA/rShiny2.JPG" alt="(Image not found)" style="width:65%">
		</a>
		</div>
		</div>



		<div class="col-md-6">
		<br />
		<div class="thumbnail">
		<h3 class="mb-0">Figure 2 - Pathway enrichment chart</h3>
		<a href="img/MONA/enrich1.PNG">
		<img src="img/MONA/enrich1.PNG" alt="(Image not found)" style="width:65%">
		</a>
		</div>
		</div>

		</div>

		<br />
		<h3 class="mb-0">NOTE:</h3>
		<p>This project is property of Moffitt Cancer Center and is currently unpublished. I'll update this after publication and add the link to the paper!</p>
	</div>
</div>
</html>